html, body {
    height: 100%;
}

.hidden {
	display: none;
}

.page-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
}

.page-wrapper.slide {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform .25s ease-in-out;
            transition:         transform .25s ease-in-out;
}
.page-wrapper.slide.go-left {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
}
.page-wrapper.slide.go-right {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}

#content-wrapper {
    position: relative;
}

[data-href] {
    cursor: pointer;
}

p {
    margin: 1em;
}

img {
    max-width: 100%;
}